<% layout('../../layouts/app')%>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-3">
            <h3>Hello <%= user.name %></h3>
        </div>
    </div>
</div>